In [310]:
import pandas as pd
import psycopg2
import plotly.express as pt
import json
import requests

In [25]:
#Creating DATAFRAME
#PostgreSQL connection

conn = psycopg2.connect(host='localhost',
                        database= 'PhonePe',
                        user= 'postgres',
                        password= 'Tk0407', 
                        port= 5432 )
cursor=conn.cursor()

#Aggreated_Insurance_DATAFRAME

cursor.execute("select * from aggregated_insurance")
conn.commit()
table1=cursor.fetchall()

agg_insurance=pd.DataFrame(table1,columns=("states", "Years", "Quarter", "Transaction_type",
                                          "Transaction_count", "Transaction_amount"))

#Aggreated_Transaction_DATAFRAME

cursor.execute("select * from aggregated_transaction")
conn.commit()
table2=cursor.fetchall()

agg_transaction=pd.DataFrame(table2,columns=("states", "Years", "Quarter", "Transaction_type",
                                              "Transaction_count", "Transaction_amount"))

#Aggreated_User_DATAFRAME

cursor.execute("select * from aggregated_user")
conn.commit()
table3=cursor.fetchall()

agg_user=pd.DataFrame(table3,columns=("states", "Years", "Quarter", "Brands",
                                              "Transaction_count", "Percentage"))

#MAP_Insurance_DATAFRAME

cursor.execute("select * from map_insurance")
conn.commit()
table4=cursor.fetchall()

map_insurance=pd.DataFrame(table4, columns=("states", "Years", "Quarter", "Districts",
                                          "Transaction_count", "Transaction_amount"))

#MAP_Transaction_DATAFRAME

cursor.execute("select * from map_transaction")
conn.commit()
table5=cursor.fetchall()

map_transaction=pd.DataFrame(table5, columns=("states", "Years", "Quarter", "Districts",
                                          "Transaction_count", "Transaction_amount"))


#MAP_User_DATAFRAME

cursor.execute("select * from map_user")
conn.commit()
table6=cursor.fetchall()

map_user=pd.DataFrame(table6, columns=("states", "Years", "Quarter", "Districts",
                                          "Registered_Users", "App_Opens"))

#TOP_Insurance_DATAFRAME

cursor.execute("select * from top_insurance")
conn.commit()
table7=cursor.fetchall()

top_insurance=pd.DataFrame(table7, columns=("states", "Years", "Quarter", "Pincodes",
                                          "Transaction_count", "Transaction_amount"))

#TOP_Transaction_DATAFRAME

cursor.execute("select * from top_transaction")
conn.commit()
table8=cursor.fetchall()

top_transaction=pd.DataFrame(table8, columns=("states", "Years", "Quarter", "Pincodes",
                                          "Transaction_count", "Transaction_amount"))


#TOP_User_DATAFRAME

cursor.execute("select * from top_user")
conn.commit()
table9=cursor.fetchall()

top_user=pd.DataFrame(table9, columns=("states", "Years", "Quarter", "Pincodes",
                                          "RegisteredUsers"))

In [323]:
def Top_chart_Transaction_amount(table_name):

    conn = psycopg2.connect(host='localhost',
                            database= 'PhonePe',
                            user= 'postgres',
                            password= 'Tk0407', 
                            port= 5432 )
    cursor=conn.cursor()

    query1=f'''select states,sum(transaction_amount)as transaction_amount 
                from {table_name}
                group by states
                order by transaction_amount
                desc limit 10;'''

    cursor.execute(query1)
    table_1 =cursor.fetchall()
    conn.commit()

    df_1=pd.DataFrame(table, columns=("states","transaction_amount"))

    fig_amount1 = pt.bar(df_1, x="states", y="transaction_amount", title=f"TRANSACTION AMOUNT",hover_name="states",
                    color_discrete_sequence=pt.colors.sequential.Agsunset,height=650,width=600)
    fig_amount1.show()

    #Figure2
    query2=f'''select states,sum(transaction_amount)as transaction_amount 
                from {table_name}
                group by states
                order by transaction_amount
                limit 10;'''

    cursor.execute(query2)
    table_2 =cursor.fetchall()
    conn.commit()

    df_2=pd.DataFrame(table_2, columns=("states","transaction_amount"))

    fig_amount2 = pt.bar(df_2, x="states", y="transaction_amount", title=f"TRANSACTION AMOUNT",hover_name="states",
                    color_discrete_sequence=pt.colors.sequential.Agsunset_r,height=650,width=600)
    fig_amount2.show()

    #Figure3
    query3=f'''select states,AVG(transaction_amount)as transaction_amount
                from {table_name}
                group by states
                order by transaction_amount'''

    cursor.execute(query3)
    table_3 =cursor.fetchall()
    conn.commit()

    df_3=pd.DataFrame(table_3, columns=("states","transaction_amount"))

    fig_amount3 = pt.bar(df_3, x="transaction_amount", y="states",orientation="h", title=f" Average TRANSACTION AMOUNT",hover_name="states",
                    color_discrete_sequence=pt.colors.sequential.Bluered,height=650,width=800)
    fig_amount3.show()

In [ ]:
Top_chart_Transaction_amount("aggregated_insurance")

In [329]:
def Top_chart_Transaction_count(table_name):

    conn = psycopg2.connect(host='localhost',
                            database= 'PhonePe',
                            user= 'postgres',
                            password= 'Tk0407', 
                            port= 5432 )
    cursor=conn.cursor()

    query1=f'''select states,sum(transaction_count)as transaction_count 
                from {table_name}
                group by states
                order by transaction_count
                desc limit 10;'''

    cursor.execute(query1)
    table_1 =cursor.fetchall()
    conn.commit()

    df_1=pd.DataFrame(table_1, columns=("states","transaction_count"))

    fig_amount1 = pt.bar(df_1, x="states", y="transaction_count", title=f"TRANSACTION COUNT",hover_name="states",
                    color_discrete_sequence=pt.colors.sequential.Agsunset,height=650,width=600)
    fig_amount1.show()

    #Figure2
    query2=f'''select states,sum(transaction_count)as transaction_count 
                from {table_name}
                group by states
                order by transaction_count
                limit 10;'''

    cursor.execute(query2)
    table_2 =cursor.fetchall()
    conn.commit()

    df_2=pd.DataFrame(table_2, columns=("states","transaction_count"))

    fig_amount2 = pt.bar(df_2, x="states", y="transaction_count", title=f"TRANSACTION COUNT",hover_name="states",
                    color_discrete_sequence=pt.colors.sequential.Agsunset_r,height=650,width=600)
    fig_amount2.show()

    #Figure3
    query3=f'''select states,AVG(transaction_count)as transaction_count
                from {table_name}
                group by states
                order by transaction_count'''

    cursor.execute(query3)
    table_3 =cursor.fetchall()
    conn.commit()

    df_3=pd.DataFrame(table_3, columns=("states","transaction_count"))

    fig_amount3 = pt.bar(df_3, x="transaction_count", y="states",orientation="h", title=f" Average TRANSACTION COUNT",hover_name="states",
                    color_discrete_sequence=pt.colors.sequential.Bluered,height=800,width=1000)
    fig_amount3.show()

In [ ]:
Top_chart_Transaction_count("aggregated_insurance")

In [333]:
def Top_chart_Registered_User(table_name,state):

    conn = psycopg2.connect(host='localhost',
                            database= 'PhonePe',
                            user= 'postgres',
                            password= 'Tk0407', 
                            port= 5432 )
    cursor=conn.cursor()

    query1=f'''select districts, sum(registered_users) as registered_users from {table_name}  
                where states= '{state}'
                group by districts
                order by registered_users desc
                limit 10'''

    cursor.execute(query1)
    table_1 =cursor.fetchall()
    conn.commit()

    df_1=pd.DataFrame(table_1, columns=("districts","registered_users"))

    fig_amount1 = pt.bar(df_1, x="districts", y="registered_users", title=f"TOP 10 of REGISTERED USER",hover_name="districts",
                    color_discrete_sequence=pt.colors.sequential.Agsunset,height=650,width=600)
    fig_amount1.show() 

    #Figure2
    query2=f'''select districts, sum(registered_users) as registered_users from {table_name} 
                where states= '{state}'
                group by districts
                order by registered_users
                limit 10'''

    cursor.execute(query2)
    table_2 =cursor.fetchall()
    conn.commit()

    df_2=pd.DataFrame(table_2, columns=("districts","registered_users"))

    fig_amount2 = pt.bar(df_2, x="districts", y="registered_users", title=f"Last 10 Registered Users",hover_name="districts",
                    color_discrete_sequence=pt.colors.sequential.Agsunset_r,height=650,width=600)
    fig_amount2.show()

    #Figure3
    query3=f'''select districts, Avg(registered_users) as registered_users from {table_name} 
                where states= '{state}'
                group by districts
                order by registered_users'''

    cursor.execute(query3)
    table_3 =cursor.fetchall()
    conn.commit()

    df_3=pd.DataFrame(table_3, columns=("districts","registered_users"))

    fig_amount3 = pt.bar(df_3, x="registered_users", y="districts",orientation="h", title=f" Average of Registered Users",hover_name="districts",
                    color_discrete_sequence=pt.colors.sequential.Bluered,height=800,width=1000)
    fig_amount3.show()

In [335]:
def Top_chart_appopens(table_name,state):

    conn = psycopg2.connect(host='localhost',
                            database= 'PhonePe',
                            user= 'postgres',
                            password= 'Tk0407', 
                            port= 5432 )
    cursor=conn.cursor()

    query1=f'''select districts, sum(app_opens) as app_opens from {table_name}  
                where states= '{state}'
                group by districts
                order by app_opens desc
                limit 10'''

    cursor.execute(query1)
    table_1 =cursor.fetchall()
    conn.commit()

    df_1=pd.DataFrame(table_1, columns=("districts","app_opens"))

    fig_amount1 = pt.bar(df_1, x="districts", y="app_opens", title=f"TOP 10 of App_opens",hover_name="districts",
                    color_discrete_sequence=pt.colors.sequential.Agsunset,height=650,width=600)
    fig_amount1.show() 

    #Figure2
    query2=f'''select districts, sum(app_opens) as app_opens from {table_name} 
                where states= '{state}'
                group by districts
                order by app_opens
                limit 10'''

    cursor.execute(query2)
    table_2 =cursor.fetchall()
    conn.commit()

    df_2=pd.DataFrame(table_2, columns=("districts","app_opens"))

    fig_amount2 = pt.bar(df_2, x="districts", y="app_opens", title=f"Last 10 App_opens",hover_name="districts",
                    color_discrete_sequence=pt.colors.sequential.Agsunset_r,height=650,width=600)
    fig_amount2.show()

    #Figure3
    query3=f'''select districts, Avg(app_opens) as app_opens from {table_name} 
                where states= '{state}'
                group by districts
                order by app_opens'''

    cursor.execute(query3)
    table_3 =cursor.fetchall()
    conn.commit()

    df_3=pd.DataFrame(table_3, columns=("districts","app_opens"))

    fig_amount3 = pt.bar(df_3, x="app_opens", y="districts",orientation="h", title=f" Average of App_opens ",hover_name="districts",
                    color_discrete_sequence=pt.colors.sequential.Bluered,height=800,width=1000)
    fig_amount3.show()

In [ ]:
Top_chart_appopens("map_user","Tamil Nadu")

In [338]:
def Top_chart_Registered_Users (table_name):

    conn = psycopg2.connect(host='localhost',
                            database= 'PhonePe',
                            user= 'postgres',
                            password= 'Tk0407', 
                            port= 5432 )
    cursor=conn.cursor()

    query1=f'''select states, sum(registeredusers) as registeredusers from {table_name}
                group by states
                order by registeredusers desc
                limit 10'''

    cursor.execute(query1)
    table_1 =cursor.fetchall()
    conn.commit()

    df_1=pd.DataFrame(table_1, columns=("states","registeredusers"))

    fig_amount1 = pt.bar(df_1, x="states", y="registeredusers", title=f"TOP 10 of Registered users",hover_name="states",
                    color_discrete_sequence=pt.colors.sequential.Agsunset,height=650,width=600)
    fig_amount1.show() 

    #Figure2
    query2=f'''select states, sum(registeredusers) as registeredusers from {table_name} 
                group by states
                order by registeredusers 
                limit 10'''

    cursor.execute(query2)
    table_2 =cursor.fetchall()
    conn.commit()

    df_2=pd.DataFrame(table_2, columns=("states","registeredusers"))

    fig_amount2 = pt.bar(df_2, x="states", y="registeredusers", title=f"Last 10 Registered users",hover_name="states",
                    color_discrete_sequence=pt.colors.sequential.Agsunset_r,height=650,width=600)
    fig_amount2.show()

    #Figure3
    query3=f'''select states, avg(registeredusers) as registeredusers from {table_name} 
                group by states
                order by registeredusers'''

    cursor.execute(query3)
    table_3 =cursor.fetchall()
    conn.commit()

    df_3=pd.DataFrame(table_3, columns=("states","registeredusers"))

    fig_amount3 = pt.bar(df_3, x="registeredusers", y="states",orientation="h", title=f" Average of Registered users ",hover_name="states",
                    color_discrete_sequence=pt.colors.sequential.Bluered,height=800,width=1000)
    fig_amount3.show()

In [188]:
#Transaction Based on Year
def Transaction_amount_count(df,year):

    tran_amt_ct_yr = df[df["Years"] == year]
    tran_amt_ct_yr.reset_index(drop=True,inplace=True)

    tran_amt_ct_yr_grp = tran_amt_ct_yr.groupby("states")[["Transaction_count","Transaction_amount"]].sum()
    tran_amt_ct_yr_grp.reset_index(inplace= True)

    fig_ct = pt.bar(tran_amt_ct_yr_grp, x="states", y="Transaction_count", title=f" TRANSACTION COUNT OF {year}",
                    color_discrete_sequence=pt.colors.sequential.Agsunset)
    fig_ct.show()
    
    fig_amt= pt.bar(tran_amt_ct_yr_grp, x="states", y="Transaction_amount", title=f" TRANSACTION AMOUNT OF {year}",
                    color_discrete_sequence=pt.colors.sequential.Bluered_r)
    
    fig_amt.show()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    states_name=[]
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    India_figure_amt=pt.choropleth(tran_amt_ct_yr_grp, geojson= data1, locations= "states", featureidkey= "properties.ST_NM",
                                   color= "Transaction_amount",color_continuous_scale="Rainbow",
                                   range_color= (tran_amt_ct_yr_grp["Transaction_amount"].min(), tran_amt_ct_yr_grp["Transaction_amount"].max()),
                                   hover_name= "states", title=f"TRANSACTION AMOUNT OF {year}", fitbounds= "locations",height=700,width=600)
    India_figure_amt.update_geos(visible=False)
    India_figure_amt.show()

    India_figure_ct=pt.choropleth(tran_amt_ct_yr_grp, geojson= data1, locations= "states", featureidkey= "properties.ST_NM",
                                   color= "Transaction_count",color_continuous_scale="Rainbow",
                                   range_color= (tran_amt_ct_yr_grp["Transaction_count"].min(), tran_amt_ct_yr_grp["Transaction_count"].max()),
                                   hover_name= "states", title=f"TRANSACTION COUNT OF {year}", fitbounds= "locations",height=600,width=600)
    India_figure_ct.update_geos(visible=False)
    India_figure_ct.show()

    return tran_amt_ct_yr

In [189]:
#Transaction Based on Quarter
def Transaction_amount_count_qua(df, quarter):

    tran_amt_ct_yr = df[df["Quarter"] == quarter]
    tran_amt_ct_yr.reset_index(drop=True,inplace=True)

    tran_amt_ct_yr_grp = tran_amt_ct_yr.groupby("states")[["Transaction_count","Transaction_amount"]].sum() 
    tran_amt_ct_yr_grp.reset_index(inplace= True)
    
    fig_ct = pt.bar(tran_amt_ct_yr_grp, x="states", y="Transaction_count", title=f" TRANSACTION COUNT OF {tran_amt_ct_yr_grp['Years'].min()}YEAR Quater{quarter}",
                    color_discrete_sequence=pt.colors.sequential.Agsunset, height=600, width=600)
    st.plotly_chart(fig_ct)
    
    fig_amt= pt.bar(tran_amt_ct_yr_grp, x="states", y="Transaction_amount", title=f" TRANSACTION AMOUNT OF {tran_amt_ct_yr_grp['Years'].min()}YEAR Quater{quarter}",
                color_discrete_sequence=pt.colors.sequential.Bluered_r, height=600, width=600)
    st.plotly_chart(fig_amt)

    col1,col2= st.columns(2)
    with col1:

        url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
        response=requests.get(url)
        data1=json.loads(response.content)
        states_name=[]
        for feature in data1["features"]:
            states_name.append(feature["properties"]["ST_NM"])

        states_name.sort()

        India_figure_ct=pt.choropleth(tran_amt_ct_yr_grp, geojson= data1, locations= "states", featureidkey= "properties.ST_NM",
                                    color= "Transaction_count",color_continuous_scale="Rainbow",
                                    range_color= (tran_amt_ct_yr_grp["Transaction_count"].min(), tran_amt_ct_yr_grp["Transaction_count"].max()),
                                    hover_name= "states", title=f"TRANSACTION COUNT OF {year}", fitbounds= "locations", height=600, width=600)
        India_figure_ct.update_geos(visible=False)
        st.plotly_chart(India_figure_ct)
        

    with col2:

        India_figure_amt=pt.choropleth(tran_amt_ct_yr_grp, geojson= data1, locations= "states", featureidkey= "properties.ST_NM",
                                    color= "Transaction_amount",color_continuous_scale="Rainbow",
                                    range_color= (tran_amt_ct_yr_grp["Transaction_amount"].min(), tran_amt_ct_yr_grp["Transaction_amount"].max()),
                                    hover_name= "states", title=f"TRANSACTION AMOUNT OF {year}", fitbounds= "locations", height=600, width=600)
        India_figure_amt.update_geos(visible=False)
        st.plotly_chart(India_figure_amt)

    return tran_amt_ct_yr

In [47]:
def Agg_Transaction_Type(df, state):

    tran_amt_ct_yr = df[df["states"] == state]
    tran_amt_ct_yr.reset_index(drop=True,inplace=True)

    tran_amt_ct_yr_grp = tran_amt_ct_yr.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum() 
    tran_amt_ct_yr_grp.reset_index(inplace= True)

    fig_pie_amt = pt.pie(data_frame = tran_amt_ct_yr_grp,names="Transaction_type", values="Transaction_amount",
                         width=600, title=f"{state.upper()} TRANSACTION AMOUNT", hole=0.5)
    fig_pie_amt.show()

    fig_pie_ct = pt.pie(data_frame = tran_amt_ct_yr_grp,names="Transaction_type", values="Transaction_count",
                         width=600, title=f"{state.upper()} TRANSACTION COUNT", hole=0.5)
    fig_pie_ct.show()

    return tran_amt_ct_yr

In [ ]:
tran_amt_ct_yr=Transaction_amount_count(agg_transaction,2023)

In [99]:
#Aggregated user data analysis-1
def agg_user_year_fig(df, year):

    agg_user_yr = df[df["Years"]==year]
    agg_user_yr.reset_index(drop=True, inplace=True) 

    agg_user_yr_grp = pd.DataFrame(agg_user_yr.groupby("Brands")[["Transaction_count"]].sum())
    agg_user_yr_grp.reset_index(inplace=True) 

    india_fig_user = pt.bar(agg_user_yr_grp, x="Brands", y="Transaction_count" ,title=f"Brands and Transaction_count {year}",
                        width=1000, color_discrete_sequence= pt.colors.sequential.Aggrnyl,hover_name="Brands")
    india_fig_user.show()

    return agg_user_yr

In [ ]:
Agg_user_brd_count=agg_user_year_fig(agg_user,2021)

In [111]:
#Aggregated user data analysis-2
def agg_user_year_fig2(df, quarter):

    agg_user_yr_qua = df[df["Quarter"]==quarter]
    agg_user_yr_qua.reset_index(drop=True, inplace=True) 


    agg_user_yr_Qua_grp = pd.DataFrame(agg_user_yr_qua.groupby("Brands")[["Transaction_count"]].sum())
    agg_user_yr_Qua_grp.reset_index(inplace=True) 

    agg_fig_user2 = pt.bar(agg_user_yr_Qua_grp, x="Brands", y="Transaction_count" ,title=f"Brands and Transaction count for Quarter-{quarter}",
                            width=1000, color_discrete_sequence= pt.colors.sequential.Aggrnyl,hover_name="Brands")
    agg_fig_user2.show()

    return agg_user_yr_qua

In [ ]:
agg_user_yr_qua

In [119]:
#Aggregated user data analysis-3
def agg_user_year_fig3(df, state ):

    agg_user_yr_qua_sta = df[df["states"]== state]
    agg_user_yr_qua_sta.reset_index(drop=True, inplace=True)

    agg_fig_user3=pt.line(agg_user_yr_qua_sta, x="Brands", y="Transaction_count" ,title=f"Brands , Transaction and Percentage of {state}",
                                width=1000, color_discrete_sequence= pt.colors.sequential.Aggrnyl, hover_data="Percentage",markers=True )

    agg_fig_user3.show()

In [ ]:
agg_user_year_fig3(agg_user_yr_qua, "Andaman & Nicobar" )

In [ ]:
#map_insurance District
def map_insurance_Dist(df,state):

    tran_amt_ct_yr = df[df["states"] == state]
    tran_amt_ct_yr.reset_index(drop=True,inplace=True)

    tran_amt_ct_yr_grp = tran_amt_ct_yr.groupby("Districts")[["Transaction_count","Transaction_amount"]].sum() 
    tran_amt_ct_yr_grp.reset_index(inplace= True)

    fig_bar_amt = pt.bar(tran_amt_ct_yr_grp, x ="Transaction_amount",y ="Districts", orientation="h",
                            title=f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT",color_discrete_sequence=pt.colors.sequential.Bluered)
    fig_bar_amt.show()

    fig_bar_ct = pt.bar(tran_amt_ct_yr_grp, x ="Transaction_count", y ="Districts", orientation="h",
                            title=f"{state.upper()} DISTRICT AND TRANSACTION COUNT",color_discrete_sequence=pt.colors.sequential.Plasma)
    fig_bar_ct.show()

###MAP INSURANCE

In [ ]:
map_insr_tran_amt_ct=Transaction_amount_count(map_insurance, 2020)
map_insr_tran_amt_ct

In [ ]:
map_insurance

In [ ]:
map_insurance_Dist(map_insr_tran_amt_ct,"Tamil Nadu")

In [ ]:
map_insurance_Dist_qua= Transaction_amount_count_qua(map_insr_tran_amt_ct,2)

### Map Transaction

In [ ]:
map_tran_amt_ct=Transaction_amount_count(map_transaction, 2022)

In [ ]:
map_insurance_Dist(map_tran_amt_ct, "Tamil Nadu")

In [ ]:
map_tran_amt_count_qua = Transaction_amount_count_qua(map_tran_amt_ct,3)

In [ ]:
map_insurance_Dist(map_tran_amt_count_qua, "Tamil Nadu")

### MAP_USER

In [196]:
map_user

,states,Years,Quarter,Districts,Registered_Users,App_Opens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
18295,West Bengal,2024,1,nadia district,1671140,13679202
18296,West Bengal,2024,1,birbhum district,1056537,30502875
18297,West Bengal,2024,1,purba medinipur district,1655920,18688405
18298,West Bengal,2024,1,maldah district,1183956,33270738
18299,West Bengal,2024,1,darjiling district,686254,31485682

In [234]:
#map_user_analysis1
def map_user_fig1(df,year):

    map_user_yr = df[df["Years"]== year]
    map_user_yr.reset_index(drop=True, inplace=True) 

    map_user_yr_grp = map_user_yr.groupby("states")[["Registered_Users","App_Opens"]].sum()
    map_user_yr_grp.reset_index(inplace=True) 

    map_fig_user=pt.line(map_user_yr_grp, x="states", y=["Registered_Users","App_Opens"] ,title=f"Registered Users & App opens of {year} year",
                            width=1000, height=800, color_discrete_sequence= pt.colors.sequential.Bluered_r,markers=True)

    map_fig_user.show()

    return map_user_yr

In [ ]:
map_user_fig1(map_user,2022)

In [232]:
#map_user_analysis2
def map_user_fig2(df,quarter):

    map_user_yr_qua = df[df["Quarter"]== quarter]
    map_user_yr_qua.reset_index(drop=True, inplace=True) 

    map_user_yr_qua_grp = map_user_yr_qua.groupby("states")[["Registered_Users","App_Opens"]].sum()
    map_user_yr_qua_grp.reset_index(inplace=True) 

    map_fig_user1=pt.line(map_user_yr_qua_grp, x="states", y=["Registered_Users","App_Opens"] ,title=f"Registered Users & App opens of {df['Years'].min()} Quarter-{quarter}",
                            width=1000, height=800, color_discrete_sequence= pt.colors.sequential.Bluered_r,markers=True)

    map_fig_user1.show()

    return map_user_yr_qua

In [272]:
map_user_year_qua =map_user_fig2(map_user_yr, 2)

In [ ]:
map_user_year_qua

In [245]:
#map User analysis 3
def map_user_fig3(df,states):

    map_user_yr_qua_st = df[df["states"]== states]
    map_user_yr_qua_st.reset_index(drop=True, inplace=True) 

    map_fig_bar1=pt.bar(map_user_yr_qua_st, x="Registered_Users", y="Districts",orientation="h",
                    title="Registered_Users Districts",height=800, color_discrete_sequence=pt.colors.sequential.RdBu)
    map_fig_bar1.show()                    

    map_fig_bar2=pt.bar(map_user_yr_qua_st, x="App_Opens", y="Districts",orientation="h",
                    title="App_opens Districts",height=800, color_discrete_sequence=pt.colors.sequential.RdBu_r)
    map_fig_bar2.show()

In [ ]:
map_user_fig3(map_user_year_qua,"Tamil Nadu")

In [ ]:
map_user

### TOP_INSURANCE

In [ ]:
Top_tran_amt_ct_year=Transaction_amount_count(top_insurance, 2022)

In [271]:
def Top_insurance_fig1(df,state):

    Top_insur_yr_qua = df[df["states"]== state]
    Top_insur_yr_qua.reset_index(drop=True, inplace=True) 

    Top_insur_fig_bar1=pt.bar(Top_insur_yr_qua, x="Quarter", y="Transaction_amount",hover_data="Pincodes",
                                title="Transaction Amount", height=800, color_discrete_sequence=pt.colors.sequential.RdBu)
    Top_insur_fig_bar1.show()  

    Top_insur_fig_bar2=pt.bar(Top_insur_yr_qua, x="Quarter", y="Transaction_count",hover_data="Pincodes",
                                title="Transaction Count", height=800, color_discrete_sequence=pt.colors.sequential.RdPu_r)
    Top_insur_fig_bar2.show()

In [ ]:
Top_insurance_fig1(Top_tran_amt_ct_year,"Tamil Nadu")

In [ ]:
Transaction_amount_count_qua(Top_tran_amt_ct_year, 2 )

###TOP TRANSACTION

In [ ]:
Top_transaction_amt_ct_year=Transaction_amount_count(top_insurance, 2023)
Top_transaction_amt_ct_year

In [ ]:
Top_insurance_fig1(Top_transaction_amt_ct_year,"West Bengal")

### TOP_USER

In [304]:
#Top_user figure
def top_user_fig1(df,year):

    top_user_yr = df[df["Years"]==year]
    top_user_yr.reset_index(drop=True, inplace=True) 

    top_user_yr_grp = pd.DataFrame(top_user_yr.groupby(["states","Quarter"])[["RegisteredUsers"]].sum())
    top_user_yr_grp.reset_index(inplace=True) 

    top_user_bar=pt.bar(top_user_yr_grp, x="states", y="RegisteredUsers", color="Quarter", height=800,
                        width=1000, color_discrete_sequence= pt.colors.sequential.RdPu_r,hover_name="states", title=f"Registered Users of {year}")

    top_user_bar.show()

    return top_user_yr

In [ ]:
top_user_year=top_user_fig1(top_user,2020)

In [ ]:
#TOP User analysis 3
def Top_user_fig2(df,states):

top_user_yr_st = top_user_year[top_user_year["states"]== "Tamil Nadu"]
top_user_yr_st.reset_index(drop=True, inplace=True) 

top_user_bar2=pt.bar(top_user_yr_st, x="Quarter", y="RegisteredUsers",hover_name="Pincodes",title="Registered user,pincodes,quarter",
                     height=800, width=1000, color ="RegisteredUsers", color_continuous_scale= pt.colors.sequential.Magenta)

top_user_bar2.show()

In [306]:
top_user_year

                 states  Years  Quarter Pincodes  RegisteredUsers
0     Andaman & Nicobar   2020        1   744103             6108
1     Andaman & Nicobar   2020        1   744101             4689
2     Andaman & Nicobar   2020        1   744105             4684
3     Andaman & Nicobar   2020        1   744102             3727
4     Andaman & Nicobar   2020        1   744202             1216
...                 ...    ...      ...      ...              ...
1423        West Bengal   2020        4   700015            67402
1424        West Bengal   2020        4   721101            65712
1425        West Bengal   2020        4   742304            65083
1426        West Bengal   2020        4   700091            64738
1427        West Bengal   2020        4   700150            63152

[1428 rows x 5 columns]